@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: hsl(0deg, 0%, 0%);
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  background: hsl(220deg, 14%, 75%);
}

.container {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  background: hsl(0deg, 0%, 100%);
  min-height: 100vh;
}
@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 0 100px;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  position: relative;
  padding: 1px;
  background: transparent;
  transition: all 300ms ease-in-out;
  z-index: 99;
}
.hamburger .line {
  width: 25px;
  border: 2px solid hsl(219deg, 9%, 45%);
  background: hsl(219deg, 9%, 45%);
  transition: all 350ms ease-in-out;
}
.hamburger:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.line-top.active {
  width: 22px;
  transform: rotate(45deg);
  transform-origin: left top;
}

.line-inner.active {
  visibility: hidden;
  transition: all 250ms ease-in-out;
}

.line-bottom.active {
  width: 22px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.overlay {
  width: 100%;
  background: hsla(0deg, 0%, 0%, 0.75);
  transform: translateX(-100%);
  transition: all 300ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .overlay {
    width: unset;
    position: unset;
    transform: translateX(0%);
    transition: all 0ms ease-in-out;
  }
}
.overlay #menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 5rem 0 0 2rem;
  width: 60%;
  min-height: 100vh;
  background: hsl(0deg, 0%, 100%);
}
@media (min-width: 768px) {
  .overlay #menu {
    width: 100%;
    padding: 0;
    flex-direction: row;
    min-height: unset;
  }
}
.overlay #menu .menu-item {
  font-size: 18px;
  cursor: pointer;
  position: relative;
}
@media (min-width: 768px) {
  .overlay #menu .menu-item {
    font-size: 16px;
    color: hsl(220deg, 14%, 75%);
  }
  .overlay #menu .menu-item:hover {
    color: hsl(219deg, 9%, 45%);
  }
}
.overlay #menu .menu-item::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  border-bottom: 3px solid hsl(26deg, 100%, 55%);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
@media (min-width: 768px) {
  .overlay #menu .menu-item::before {
    bottom: -45px;
  }
}
.overlay #menu .menu-item:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}
.overlay #menu .menu-item.active::before, .overlay #menu .menu-item.active-link::before {
  transform: scale(1, 1);
  transform-origin: left;
}

.overlay.active {
  transform: translateX(0%);
}

.logo-container {
  width: 150px;
}
@media (min-width: 768px) {
  .logo-container {
    width: 170px;
  }
}
.logo-container img {
  width: 100%;
}

.cart-container {
  width: 23px;
}
.cart-container svg path {
  width: 100%;
  height: auto;
  fill: hsl(219deg, 9%, 45%);
}
.cart-container:hover {
  cursor: pointer;
}
.cart-container:hover svg path {
  fill: hsl(220deg, 14%, 75%);
  transform: scale(1.05);
}
.cart-container:active {
  transform: scale(0.99);
}

.cart-modal {
  position: absolute;
  top: -100px;
  left: 120px;
  width: 100%;
  padding: 0 10px;
  transform: scale(0);
  transition: all 300ms ease-in-out;
  z-index: 10;
}
@media (min-width: 768px) {
  .cart-modal {
    width: 100px;
    top: -80px;
    left: unset;
    right: 50px;
  }
}
@media (min-width: 992px) {
  .cart-modal {
    right: 170px;
  }
}
.cart-modal .cart-item-container {
  border-radius: 10px;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
  background: hsl(0deg, 0%, 100%);
}
.cart-modal .cart-item-container .cart-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  padding-left: 20px;
  height: 60px;
  font-weight: 700;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}
.cart-modal .cart-item-container .item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 180px;
  padding: 20px;
}
.cart-modal .cart-item-container .item-container .empty-text {
  font-weight: 700;
}
.cart-modal .cart-item-container .item-container .items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
}
.cart-modal .cart-item-container .item-container .items .item-photo {
  width: 70px;
  border-radius: 5px;
}
.cart-modal .cart-item-container .item-container .items .description {
  width: 100%;
  font-size: 14px;
  color: hsl(219deg, 9%, 45%);
}
.cart-modal .cart-item-container .item-container .items .description .item-name {
  margin-bottom: 5px;
}
.cart-modal .cart-item-container .item-container .items .description .item-price {
  font-size: 13px;
}
.cart-modal .cart-item-container .item-container .items .description .item-price .total {
  font-weight: 700;
}
.cart-modal .cart-item-container .item-container .items svg {
  width: 20px;
  height: 20px;
}
.cart-modal .cart-item-container .item-container .items svg path {
  fill: hsl(219deg, 9%, 45%);
}
.cart-modal .cart-item-container .item-container .items svg:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.cart-modal .cart-item-container .item-container .items svg:hover path {
  fill: hsl(220deg, 14%, 75%);
}
.cart-modal .cart-item-container .item-container .items svg:active {
  transform: scale(0.99);
}
.cart-modal .cart-item-container .item-container .checkoutBtn {
  width: 100%;
  background: hsl(26deg, 100%, 55%);
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  transition: background 300ms ease-in-out;
}
.cart-modal .cart-item-container .item-container .checkoutBtn:hover {
  cursor: pointer;
  background: #e66300;
}
.cart-modal .cart-item-container .item-container .checkoutBtn:active {
  transform: scale(0.99);
}
.cart-modal.active {
  top: 100px;
  left: 0;
  width: 100%;
  transform: scale(1);
}
@media (min-width: 768px) {
  .cart-modal.active {
    left: unset;
    right: 0;
    width: 375px;
  }
}
@media (min-width: 992px) {
  .cart-modal.active {
    right: 100px;
  }
}

.cart-notification {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 17px;
  height: 17px;
  padding: 2px;
  background: hsl(26deg, 100%, 55%);
  border-radius: 50%;
}
.cart-notification:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.cart-notification:active {
  transform: scale(0.99);
}
.cart-notification .item-qty {
  text-align: center;
  font-size: 10px;
  color: hsl(0deg, 0%, 100%);
}

.imgContainer {
  width: 40px;
}
@media (min-width: 768px) {
  .imgContainer {
    width: 50px;
  }
}
.imgContainer img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  border: 3px solid transparent;
}
.imgContainer img:hover {
  cursor: pointer;
  border: 3px solid hsl(26deg, 100%, 55%);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  padding: 20px;
}
@media (min-width: 992px) {
  header {
    padding: 20px 30px;
  }
}
header .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 1;
}
@media (min-width: 768px) {
  header .navigation {
    padding: 20px 0;
    flex-direction: row-reverse;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  header .navigation {
    gap: 50px;
  }
}
header .cart-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}
@media (min-width: 768px) {
  header .cart-profile {
    gap: 30px;
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
}
@media (min-width: 576px) {
  .gallery {
    width: unset;
  }
}
.gallery .images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  position: relative;
}
@media (min-width: 576px) {
  .gallery .images-container {
    width: 320px;
  }
}
.gallery .images-container .product-image-large {
  width: 100%;
  max-height: 320px;
}
.gallery .images-container .product-image-large:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .gallery .images-container .product-image-large {
    border-radius: 10px;
  }
}
.gallery .images-container .thumbnail-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  display: none;
  z-index: 0;
}
@media (min-width: 768px) {
  .gallery .images-container .thumbnail-gallery {
    display: flex;
  }
}
.gallery .images-container .thumbnail-gallery .product-image-small {
  border-radius: 10px;
  height: 60px;
  width: 60px;
  overflow: hidden;
  position: relative;
}
.gallery .images-container .thumbnail-gallery .product-image-small::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
}
.gallery .images-container .thumbnail-gallery .product-image-small:hover::before {
  border-radius: 10px;
  background: hsla(223deg, 64%, 98%, 0.7);
  border: 2px solid hsl(26deg, 100%, 55%);
  cursor: pointer;
}
.gallery .images-container .thumbnail-gallery .product-image-small.active::before {
  border-radius: 10px;
  background: hsla(223deg, 64%, 98%, 0.7);
  border: 2px solid hsl(26deg, 100%, 55%);
  cursor: pointer;
}
.gallery .images-container .thumbnail-gallery .product-image-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .images-container .btnArrow {
  width: 36px;
  height: 37px;
  border-radius: 50%;
  background: hsl(0deg, 0%, 100%);
  padding: 10px;
  position: absolute;
}
@media (min-width: 768px) {
  .gallery .images-container .btnArrow {
    display: none;
  }
}
.gallery .images-container .btnArrow:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.gallery .images-container .btnArrow:hover path {
  background: red;
  stroke: hsl(26deg, 100%, 55%);
}
.gallery .images-container .btnArrow:active {
  transform: scale(0.99);
}
.gallery .images-container .btnArrow path {
  z-index: -1;
}
.gallery .images-container #prev {
  left: 15px;
}
.gallery .images-container #next {
  padding-left: 12px;
  right: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
@media (min-width: 1200px) {
  .product {
    width: 450px;
  }
}
.product .product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.product .product-info .company-name {
  font-size: 12px;
  color: hsl(26deg, 100%, 55%);
  font-weight: 700;
}
.product .product-info .product-name {
  font-size: 30px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .product .product-info .product-name {
    font-size: 35px;
  }
}
.product .product-info .product-description {
  color: hsl(219deg, 9%, 45%);
  font-size: 15px;
  margin: 5px 0;
}
.product .product-info .product-price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .product .product-info .product-price-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}
.product .product-info .product-price-container .product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.product .product-info .product-price-container .product-price .price {
  font-size: 25px;
  font-weight: 700;
}
.product .product-info .product-price-container .product-price .discount {
  font-size: 12px;
  padding: 5px 10px;
  color: hsl(26deg, 100%, 55%);
  font-weight: 700;
  background: hsl(25deg, 100%, 94%);
  border-radius: 10px;
}
.product .product-info .product-price-container .before-price {
  font-size: 12px;
  color: hsl(220deg, 14%, 75%);
  text-decoration: line-through;
  font-weight: 700;
}
.product .btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .product .btn-container {
    flex-direction: row;
  }
}
.product .btn-container .qty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  background: hsl(223deg, 64%, 98%);
}
@media (min-width: 768px) {
  .product .btn-container .qty {
    width: 60%;
  }
}
.product .btn-container .qty .qty-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 24px;
  height: 24px;
  padding: 5px;
  background: none;
  border: none;
}
.product .btn-container .qty .qty-btn svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.product .btn-container .qty .qty-btn svg:active {
  transform: scale(0.99);
}
.product .btn-container .qty .qty-btn svg path {
  fill: hsl(26deg, 100%, 55%);
}
.product .btn-container .qty .qty-count {
  font-weight: 700;
}
.product .btn-container .add-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  background: hsl(26deg, 100%, 55%);
  font-weight: 700;
}
.product .btn-container .add-cart svg path {
  fill: hsl(0deg, 0%, 100%);
}
.product .btn-container .add-cart:hover {
  cursor: pointer;
  background: #e66300;
}
.product .btn-container .add-cart:active {
  transform: scale(0.99);
}

.modal-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0deg, 0%, 0%, 0.75);
  z-index: 10;
}
.modal-gallery .close {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  top: -30px;
  position: absolute;
  right: 0;
}
.modal-gallery .close path {
  fill: hsl(0deg, 0%, 100%);
}
.modal-gallery .close:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.modal-gallery .close:active {
  transform: scale(0.99);
}
.modal-gallery .images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  position: relative;
}
@media (min-width: 576px) {
  .modal-gallery .images-container {
    width: 320px;
  }
}
.modal-gallery .images-container .product-image-large {
  width: 100%;
  max-height: 320px;
}
.modal-gallery .images-container .product-image-large:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .modal-gallery .images-container .product-image-large {
    border-radius: 10px;
  }
}
.modal-gallery .images-container .thumbnail-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  display: none;
  z-index: 0;
}
@media (min-width: 768px) {
  .modal-gallery .images-container .thumbnail-gallery {
    display: flex;
  }
}
.modal-gallery .images-container .thumbnail-gallery .product-image-small {
  border-radius: 10px;
  height: 60px;
  width: 60px;
  overflow: hidden;
  position: relative;
}
.modal-gallery .images-container .thumbnail-gallery .product-image-small::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
}
.modal-gallery .images-container .thumbnail-gallery .product-image-small:hover::before {
  border-radius: 10px;
  background: hsla(223deg, 64%, 98%, 0.7);
  border: 2px solid hsl(26deg, 100%, 55%);
  opacity: 0.8;
  cursor: pointer;
}
.modal-gallery .images-container .thumbnail-gallery .product-image-small.active::before {
  border-radius: 10px;
  background: hsla(223deg, 64%, 98%, 0.7);
  border: 2px solid hsl(26deg, 100%, 55%);
  opacity: 0.8;
  cursor: pointer;
}
.modal-gallery .images-container .thumbnail-gallery .product-image-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-gallery .images-container .btnArrow {
  width: 36px;
  height: 37px;
  border-radius: 50%;
  background: hsl(0deg, 0%, 100%);
  padding: 10px;
  position: absolute;
  top: 30%;
}
.modal-gallery .images-container .btnArrow:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.modal-gallery .images-container .btnArrow:hover path {
  background: red;
  stroke: hsl(26deg, 100%, 55%);
}
.modal-gallery .images-container .btnArrow:active {
  transform: scale(0.99);
}
.modal-gallery .images-container .btnArrow path {
  z-index: -1;
}
.modal-gallery .images-container #prev {
  left: -15px;
}
.modal-gallery .images-container #next {
  padding-left: 12px;
  right: -15px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  border-top: 1px solid hsl(220deg, 14%, 75%);
}
@media (min-width: 768px) {
  main {
    padding: 20px;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  main {
    padding: 40px;
    flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  main {
    gap: 100px;
  }
}

.codeby {
  text-align: center;
  font-size: 12px;
  padding: 10px;
}
.codeby a {
  text-decoration: none;
  position: relative;
}
.codeby a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  border-bottom: 1px solid hsl(26deg, 100%, 55%);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
.codeby a:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}

/*# sourceMappingURL=styles.css.map */
