.cart-notification {
   position: absolute;
   top: 8px;
   left: 10px;
   width: 17px;
   height: 17px;
   padding: 2px;
   background: $orange;
   border-radius: 50%;

   &:hover {
      cursor: pointer;
      transform: scale(1.1);
   }

   &:active {
      transform: scale(0.99);
   }

   & .item-qty {
      text-align: center;
      font-size: 10px;
      color: $white;
   }
}
