.cart-container {
   width: 23px;

   & svg path {
      width: 100%;
      height: auto;
      fill: $dark-grayish-blue;
   }

   &:hover {
      cursor: pointer;
   }

   &:hover svg path {
      fill: $grayish-blue;
      transform: scale(1.05);
   }

   &:active {
      transform: scale(0.99);
   }
}
