.cart-modal {
   position: absolute;
   top: -100px;
   left: 120px;
   width: 100%;
   padding: 0 10px;
   transform: scale(0);
   transition: all 300ms ease-in-out;
   z-index: 10;

   @media (min-width: 768px) {
      width: 100px;
      top: -80px;
      left: unset;
      right: 50px;
   }

   @media (min-width: 992px) {
      right: 170px;
   }

   & .cart-item-container {
      border-radius: 10px;
      box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
      background: $white;

      & .cart-text {
         @include flexBox(row, center, flex-start, 0);
         padding-left: 20px;
         height: 60px;
         font-weight: $font-weight-700;
         border-bottom: 1px solid $grayish-blue;
      }

      & .item-container {
         @include flexBox(column, center, center, 20px);
         height: 180px;
         padding: 20px;

         & .empty-text {
            font-weight: $font-weight-700;
         }

         & .items {
            @include flexBox(row, center, space-evenly, 10px);
            width: 100%;

            & .item-photo {
               width: 70px;
               border-radius: 5px;
            }

            & .description {
               width: 100%;
               font-size: 14px;
               color: $dark-grayish-blue;

               & .item-name {
                  margin-bottom: 5px;
               }

               & .item-price {
                  font-size: 13px;

                  & .total {
                     font-weight: $font-weight-700;
                     color: $black;
                  }
               }
            }

            & svg {
               width: 20px;
               height: 20px;

               & path {
                  fill: $dark-grayish-blue;
               }

               &:hover {
                  cursor: pointer;
                  transform: scale(1.05);
               }

               &:hover path {
                  fill: $grayish-blue;
               }

               &:active {
                  transform: scale(0.99);
               }
            }
         }

         & .checkoutBtn {
            width: 100%;
            background: $orange;
            padding: 15px;
            border: none;
            border-radius: 10px;
            color: $white;
            font-weight: $font-weight-700;
            transition: background 300ms ease-in-out;

            &:hover {
               cursor: pointer;
               background: darken($orange, 10%);
            }

            &:active {
               transform: scale(0.99);
            }
         }
      }
   }

   &.active {
      top: 100px;
      left: 0;
      width: 100%;
      transform: scale(1);

      @media (min-width: 768px) {
         left: unset;
         right: 0;
         width: 375px;
      }

      @media (min-width: 992px) {
         right: 100px;
      }
   }
}
