@import "./gallery";

@import "./product";

@import "./modalGallery";

main {
   @include flexBox(column, center, center, 0);
   width: 100%;
   border-top: 1px solid $grayish-blue;

   @media (min-width: 768px) {
      padding: 20px;
      gap: 30px;
   }

   @media (min-width: 992px) {
      padding: 40px;
      flex-direction: row;
      gap: 20px;
   }

   @media (min-width: 1200px) {
      gap: 100px;
   }
}
